<div class="container" style="text-align: center; margin-top: 100px">
  <a href="/lobby/servers" type="button" class="btn btn-primary btn-lg">Servers</a>

  <a href="/about" type="button" class="btn btn-primary btn-lg">About</a>

  <a href="/lobby/earn" type="button" class="btn btn-primary btn-lg">Earn coins</a>

  <h1>UNDER CONSTRUCTION</h1>
</div>

<div>
  

</div>